<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Midterm Assignment</th>
    <th scope="col">Weight</th>
    <th scope="col">Grade</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Quiz: End of topic 1 summative quiz [001]</td>
    <td id="weightOne">0.04</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeOne" placeholder="0" min="0" max="100"></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Quiz: End of topic 2 summative quiz [001]</td>
    <td id="weightTwo">0.04</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeTwo" placeholder="0" min="0" max="100"></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Quiz: End of topic 3 summative quiz [001]</td>
    <td id="weightThree">0.04</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeThree" placeholder="0" min="0" max="100"></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Quiz: End of topic 4 quiz summative [001]</td>
    <td id="weightFour">0.04</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeFour" placeholder="0" min="0" max="100"></td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Quiz: End of topic 5 quiz summative [001]</td>
    <td id="weightFive">0.04</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeFive" placeholder="0" min="0" max="100"></td>
  </tr>
    <tr>
      <th scope="row">6</th>
      <td>Quiz: Mid-term Quiz [001]</td>
      <td id="weightSix">0.2</td>
      <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeSix" placeholder="0" min="0" max="100"></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Staff Graded Assignment: Mid-term coursework – summative [001]</td>
      <td id="weightSeven">0.6</td>
      <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeSeven" placeholder="0" min="0" max="100"></td>
    </tr>
    <tr>
      <th scope="row" class="table-active">&nbsp;</th>
      <th scope="row" class="table-active">&nbsp;</th>
      <td  class="table-active">Average Grade/Mark</td>
      <td class="m-auto table-success" id="averageMidterm">0</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Final Assignment</th>
    <th scope="col">Weight</th>
    <th scope="col">Grade</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Staff Graded Assignment: Examination/Assessment [002]</td>
    <td id="weightEight">1.0</td>
    <td class="m-auto"><input type="number" style="display: inherit !important;" class="form-control form-control-sm w-50" id="gradeEight" placeholder="0" min="0" max="100"></td>
  </tr>
  <tr>
    <th scope="row" class="table-active">&nbsp;</th>
    <th scope="row" class="table-active">&nbsp;</th>
    <td  class="table-active">Average Grade/Mark</td>
    <td class="m-auto table-success" id="averageFinal">0</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td class="m-auto">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row"  class="table-active">&nbsp;</th>
    <th scope="row" class="table-active">&nbsp;</th>
    <td  class="table-active">Overall Grade/Mark</td>
    <td class="m-auto table-success" id="overallGrade">0</td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" onclick="triggerGradeCalculation()">Calculate</button>
